@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body,html{
    font-family: "Open Sans", sans-serif;
    background-color: black !important;
    color: white !important;
    margin: 0;
    top: 0;
    left: 0;
}

#adas-clicker{
    font-size: small;
    text-align: center;
    text-transform: uppercase;
}

#title-bar{
    width:100%;
    position: fixed;
    height: 45px;
    background-color: rgba(0,0,0,0.2) !important;
    /* background-color: red; */
    margin: 0px;
    left: 0px;
    top: 0px;
    text-align: right;
    /* align-items: right; */
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -o-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    z-index: 3;
}