@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

body,html{
    font-family: "Open Sans", sans-serif;
    background-color: black !important;
    color: white !important;
    margin: 0;
    top: 0;
    left: 0;
    scroll-behavior: smooth;
    /* animation: fadein 5s; */
    margin: 0;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow-x: hidden;
    color-scheme: dark !important;
    overscroll-behavior: none;
}

#background{
    text-align: justify;
    width: 120%;
    height: 120%;
    position: fixed;
    overflow: none;
    opacity: 0.1;
    transition: 0.2s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#adas-clicker{
    font-size: small;
    text-align: center;
    text-transform: uppercase;
}

#titlebar{
    width:100%;
    position: fixed;
    height: fit-content;
    background-color: rgba(0,0,0,0.1) !important;
    /* background-color: red; */
    margin: 0px;
    left: 0px;
    top: 0px;
    text-align: right;
    /* align-items: right; */
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    -o-backdrop-filter: blur(25px);
    -moz-backdrop-filter: blur(25px);
    z-index: 3;
}

#bottombar{
    width:100%;
    position: fixed;
    height: 100px;
    background-color: rgba(255,255,255,0.1) !important;
    /* background-color: red; */
    margin: 0px;
    left: 0px;
    bottom: 0px;
    text-align: right;
    /* align-items: right; */
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    -o-backdrop-filter: blur(25px);
    -moz-backdrop-filter: blur(25px);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 3;
    /* transition: 0.2s; */
    /* transition-delay: 0.2s; */
}

#bottombar-container{
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    margin: 0;
    grid-column-gap: 3px;
    /* position: absolute; */
    /* left: 50%;
    transform: translate(-50%); */
}

.bottombar-item{
    text-align: center;
}

#main-button{
    position: fixed;
    background-color: black !important;
    width: 300px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 1000px;
    border-style: solid;
    border-width: 10px;
    border-color: rgba(0,0,0,0.5) !important;
    cursor: pointer;
    transition: 0.2s;
    /* transition-delay: 0.2s; */
}

#button-img{
    width: 100%;
    overflow: hidden;
    border-radius: 1000px;
    /* opacity: 0.5; */
}
#profile{
    width:80%;
    position: fixed;
    height: 100px;
    background-color: rgba(255,255,255,0.1) !important;
    /* background-color: red; */
    margin: 0px;
    right: 0px;
    text-align: right;
    /* align-items: right; */
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
    -o-backdrop-filter: blur(25px);
    -moz-backdrop-filter: blur(25px);
}

#upgrade-container{
    position: absolute;
    top: 80px;
    display: grid;
    grid-auto-flow: row;
    margin-left: 20px;
    margin-right: 20px;
    width: calc(100% - 40px);
}

.upgrade{
    display: inline-grid;
    /* grid-auto-flow: column; */
    grid-template-columns: max-content auto max-content;
    grid-column-gap: 30px;
    width: 100%;
    height: fit-content;
    margin: 0;
}

.upgrade-icon{
    width: 50px;
    border-radius: 1000px;
    /* margin-top: 50%; */
    transform: translate(0, -50%);
    position: relative;
    top: 50%;
}

.upgrade-desc{
    font-size: small;
    text-align: justify;
    margin: 0;
    height: fit-content;
    position: relative;
    top: 50%;
    transform: translate(0,-50%);
}

.upgrade-button{
    background-color: red;
    width: fit-content;
    height: fit-content;
    margin: 0;
    border-radius: 1000px;
    text-align: center;
    min-width: 70px;
    min-height: 30px;
    position: relative;
    top: 50%;
    margin: 0;
    transform: translate(0,-50%);
}

.upgrade-buy {
    margin: 5px;
    margin-bottom: 0;
    height: fit-content;
}

.upgrade-cost{
    font-size: small;
    margin: 5;
    margin-bottom: 0;
    margin-top: 0;
    height: fit-content;
    position: relative;
    top: -5px;
}

.upgrade-divider{
    background-color: white;
    opacity: 0.3;
    height: 2px;
    width: 95%;
    margin: 0;
    margin-top: 10px;
    border-radius: 1000px;
    margin-bottom: 10px;
    margin-left: 2.5%;
}

#APS{
    /* font-size: 10px; */
    text-align: left;
    /* top: 150px; */
    position: absolute;
    top: 0;
    left: 0;
    font-size: small;
    margin-left: 15px;
}
#points-container{
    font-size: small;
    text-align: right;
    display: inline-grid;
    grid-auto-flow: column;
    margin-top: 0;
    width: 100%;
    grid-column-gap: 5px;
    /* transform: translate(-50%); */
}

#points-points{
    margin-top: 0;
}

#points-icon{
    width: 18px;
    border-radius: 1000px;
}
/* #Upg1{
    font-size: 7px;
    text-align: left;
} */